<h2> What does your ideal storyteller sound like? </h2>
<h3> Search for audiobooks based on narrator characteristcs </h3>

<div class="searchFormBox">
	<%= form_tag narrators_path, method: "get" do %>
	Choose narrator preferences:
	<br>
	Gender:
	<%= radio_button_tag("narrator[gender]", "male") %>
	<%= label_tag(:male, "Male") %>
	<%= radio_button_tag("narrator[gender]", "female") %>
	<%= label_tag(:female, "Female") %>
	<br>

	Accent:
	<%= radio_button_tag("narrator[accent]", "American") %>
	<%= label_tag(:American, "American") %>
	<%= radio_button_tag("narrator[accent]", "British") %>
	<%= label_tag(:British, "British") %>
	<%= radio_button_tag("narrator[accent]", "Australian") %>
	<%= label_tag(:Australian, "Australian") %>
	<br>

	Performs different voices:
	<%= radio_button_tag("narrator[voices]", "yes") %>
	<%= label_tag(:yes, "Yes") %>
	<%= radio_button_tag("narrator[voices]", "no") %>
	<%= label_tag(:no, "No") %>
	<br>
	
	<%= submit_tag "Search" %>
	<% end %>

</div>

<script>
function check() {
    document.getElementById("gender").checked = true;
}
function uncheck() {
    document.getElementById("gender").checked = false;
}
</script>


<h2 style="text-decoration:none">
	<%= link_to "Narrators", "#", id: "narrators_link" %>
</h2>

<section id="list-narrators">
	<ol id="narrators">
		<%= render @narrators %>
	</ol>
</section>
