<div class="newNarratorFormBox">
	<%= form_tag "/narrators", method: :post do %>
	<h2>Add a Narrator to listenUP</h2>
	Please enter a value for each characteristic
	<br>
	<p class=formField>Name:</p>
	<%= text_field_tag :name, "Narrator's full name" %>
	<br>
	<p class=formField>Gender:</p>
	<%= radio_button_tag :gender , "male" %>
	<%= label_tag :gender, "Male" %>
	<%= radio_button_tag :gender, "Female" %>
	<%= label_tag :female, "Female" %>
	<br>

	<p class=formField>Accent:</p>
	<%= radio_button_tag :accent, "American" %>
	<%= label_tag :accent, "American" %>
	<%= radio_button_tag :accent, "British" %>
	<%= label_tag :accent, "British" %>
	<%= radio_button_tag :accent , "Australian" %>
	<%= label_tag :accent, "Australian" %>
	<br>

	<p class=formField>Performs different voices:</p>
	<%= radio_button_tag :voices, "yes" %>
	<%= label_tag :voices, "Yes" %>
	<%= radio_button_tag :voices, "no" %>
	<%= label_tag :voices, "No" %>
	<br>
	
	<%= submit_tag "Submit" %>
	<% end %>

</div>