<div class=narrator>
	<ul>
		<li><h4>Name: </h4> <%= @narrator.name %></li>
		<li><h4>Gender: </h4><%= @narrator.gender %></li>
		<li><h4>Accent: </h4><%= @narrator.accent %></li>
		<li><h4>Voices: </h4><%= @narrator.voices %></li>
		<li><h4>Audiobooks: </h4> 
			<% @narrator.audiobooks.each do |audiobook| %>
				<p class="audiobookList"><%= link_to audiobook.title, audiobook_path(audiobook) %><p>
			<% end %> 
		</li>
	</ul>
</div>